<template>
    <div>
        {{ user.name}} [ {{ user.id }} ]
    </div>
</template>


<script>
    export default {
        data() {
            return {
                newMessage: null
            };
        },
        props: {
            user: null,
        },
        methods: {

        }
    }
</script>
