<template>
    <div>
        Telegram subscribers {{ users.length }}
        <paginate
                name="pagination"
                :list="users_model"
                :per="5"
        >
            <div class="row" v-for="(user, index) in paginated('pagination')">
                <input type="checkbox" v-model="paginated('pagination')[index].check">
                {{ user.name }} [{{ user.id }}]
            </div>
        </paginate>
        <paginate-links for="pagination"></paginate-links>
        <br>
        <button class="btn" v-on:click="messageForm = true" v-if="!messageForm">Send Message To Selected[{{ checkCount }}]</button>
        <div v-if="messageForm">
            <textarea cols="30" rows="5" v-model="message"></textarea>
            <br><br>
            <button class="btn" v-on:click="sendMessageToSelected">Send</button>
        </div>

        <button class="btn" v-if="!messageForm" v-on:click="deleteSelected">Delete Selected[{{ checkCount }}]</button>
    </div>
</template>


<script>
    import User from './User.vue';
    import VuePaginate from 'vue-paginate'
    const axios = require('axios');
    const SEND_ENDPOINT = '/send';
    const DELETE_ENDPOINT = '/delete';
    export default {
        data() {
            return {
                paginate: ['pagination'],
                count: this.checkCount,
                users_model: this.users,
                messageForm: null,
                message: null,
            };
        },
        props: {
            users: {}
        },
        components: {
            User,
            VuePaginate
        },
        methods: {
            sendMessageToSelected(){
                let messageText = this.message;
                this.message = '';
                if (messageText === 'clear') {
                    this.messages = [];
                    return;
                }

                axios.post(SEND_ENDPOINT, {
                    driver: 'web',
                    users: this.users_model,
                    message: messageText
                }).then(response => {
                    this.messageForm = null;
                }, response => {

                });
            },
            deleteSelected(){
                var del = confirm('Delete selected?');
                if(del) {
                    axios.post(DELETE_ENDPOINT, {
                        driver: 'web',
                        users: this.users_model,
                    }).then(response => {
                        this.users_model = response.data;
                    }, response => {

                    });
                }
            }
        },
        computed: {
            checkCount() {

                var count = 0;
                for(var key in this.users_model) {
                    if(this.users_model[key].check){
                        count = count + 1;
                    }
                }
                return count;
            }
        }
    }
</script>
